<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if not app.user %}
    <a href="{{ path('app_login') }}">Login to view courses</a> | <a href="{{ path('app_register') }}">Register</a>
    {%  else  %}Hello {{ app.user.username }}
    {%  endif %}
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
